*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Custom Properties */

:root {
    --ff-primary: 'Be Vietnam Pro', sans-serif;
    --ff-secondary: 'Barlow Condensed', sans-serif;
    --fw-reg: 100;
    --fw-bold: 700;
    --clr-light: #ffffff;
    --clr-dark: #2e2e2e;
    --clr-accent: #D99B42;
    --clr-complementary: #D1D1A4;
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25), 0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
    --bs-hover: 0.5em 0.5em 1em rgba(0, 0, 0, .25), 0.25em 0.25em 0.5em rgba(0, 0, 0, .15);
    --level-one: translateZ(3rem);
    --level-two: translateZ(6rem);
    --level-three: translateZ(9rem);
}

@media (min-width: 800px) {
     :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}


/* General styles */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    text-align: left;
}

strong {
    font-weight: var(--fw-bold)
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}


/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    font-family: var(--ff-secondary);
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    transition: transform 200ms ease-in-out;
    border-radius: 16px;
}

.btn:hover {
    transform: scale(1.1);
}

#btn-scroll-to-top {
    position: fixed;
    z-index: 100;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--clr-accent);
    box-shadow: var(--bs);
    color: #ffffff;
    border: none;
    cursor: pointer;
}

#btn-scroll-to-top:active {
    opacity: 0.7;
}

#btn-scroll-to-top:hover {
    opacity: 0.7;
}


/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1)
}

h2 {
    font-size: var(--fs-h2)
}

h3 {
    font-size: var(--fs-h3)
}

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
    text-transform: uppercase;
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    letter-spacing: .2rem;
    margin-bottom: 1em;
}

.section__subtitle--projects,
.section__subtitle--skills {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
    letter-spacing: .2rem;
}


/* header */

header {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
    padding: 1em;
    background-color: var(--clr-dark);
}

header::before {
    content: "";
    background-image: url(../images/intro-bg-georgie-cobbs.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}


/* .logo {
    max-width: 100px;
} */

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
    text-transform: capitalize;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}


/*  Intro section  */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
    border-radius: 50%;
}

.intro__img:hover {
    box-shadow: var(--bs-hover);
    border-radius: 50%;
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: "img title" "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}


/* about me */

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
    border-radius: 16px;
}

.about-link {
    text-decoration: none;
    color: var(--clr-accent);
}

.about-link:hover {
    text-decoration: underline;
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: "text img" "title img" "subtitle img";
        grid-column-gap: 2em;
    }
    .section__title--about {
        grid-area: title;
    }
    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}


/* Interests */

.my-interests {
    background-color: var(--clr-light);
    display: flex;
    padding: 2em;
    justify-content: center;
}

.card-flip {
    width: 400px;
    padding: 1em;
}

.card-flip__content {
    text-align: center;
    position: relative;
    padding: 15em 5em;
    transition: transform 2s;
    transform-style: preserve-3d;
}

.card-flip:hover .card-flip__content {
    transform: rotateY(.5turn);
}

.card-flip__front,
.card-flip__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5em 3em;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: grid;
    align-content: center;
}

.card-flip__front {
    background-color: var(--clr-dark);
    background-size: cover;
    background-blend-mode: overlay;
    color: var(--clr-light);
    border-radius: 16px;
}

.card-flip__front-personal {
    background-image: url(../images/sebastian-ervi-uCZVEo8iT9Q-unsplash.jpg);
}

.card-flip__front-professional {
    background-image: url(../images/andrew-neel-cckf4TsHAuw-unsplash.jpg);
}

.card-flip__front-restaurant {
    background-image: url(../images/jae-park-Cq-6UiL_i-U-unsplash.jpg);
}

.card-flip__front::before {
    content: '';
    position: absolute;
    --spacer: 1em;
    top: var(--spacer);
    bottom: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);
    border: 2.5px solid currentColor;
    border-radius: 16px;
    transform: var(--level-one);
}

.card-flip__title {
    font-size: 2rem;
    transform: var(--level-three);
    order: 2;
    text-transform: uppercase;
}

.card-flip__subtitle {
    transform: var(--level-two);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 0.75rem;
    font-weight: var(--fw-bold);
    opacity: .7;
}

.card-flip__body {
    transform: var(--level-two);
    font-weight: var(fw-normal);
    font-size: 1rem;
    line-height: 1.6;
    list-style: none;
    text-align: left;
    text-decoration: none;
}

.card-flip__back {
    transform: rotateY(.5turn);
    color: var(--clr-light);
    background: var(--clr-dark);
    border-radius: 16px;
}


/* @media */


/* My Projects */

.my-projects {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
    background: var(--clr-dark);
    overflow: hidden;
}

.portfolio__img {
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1), opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img .hide {
    transform: scale(1.2);
    opacity: .2;
}

.hide {
    display: none;
}


/*  My skills section  */

.my-skills {
    display: grid;
    position: relative;
    /* height: 100vh; */
    width: 100%;
    background-color: var(--clr-light);
    color: var(--clr-accent);
    text-align: center;
}


/* .my-skills::before {
    content: "";
    background-image: url(../images/skills-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
} */

.section__title--skills {
    color: var(--clr-accent);
    position: relative;
}


/* .section__title--skills::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
} */

.skills {
    margin-bottom: 4em;
}

.skill {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .skills {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .skill+.skills {
        margin-left: 2em;
    }
}

.skills-cards {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;
}

.card-float {
    width: 300px;
    height: 400px;
    padding: 1em;
    margin: 1em;
    flex: 1;
    text-align: center;
    position: relative;
    background-color: var(--clr-accent);
    color: var(--clr-light);
    border-radius: 16px;
    box-shadow: var(--bs);
    /* opacity: .8; */
}

.card-float:hover {
    box-shadow: var(--bs-hover);
}

.card-float__title {
    font-family: var(--ff-secondary);
    text-transform: uppercase;
    letter-spacing: .2rem;
}


/* Strengths + Values */

.my-strengths .my-values {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}


/* Experience */

.my-experience {
    display: grid;
    position: relative;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
    /* height: 100vh; */
    width: 100%;
    text-align: center;
}

.my-experience::before {
    content: "";
    background-image: url(../images/skills-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
}

.bubbles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 0;
    text-align: center;
}

.experience-bubble-1 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: var(--clr-accent);
    color: var(--clr-light);
    text-align: center;
    line-height: normal;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.experience-bubble-3 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: var(--clr-accent);
    color: var(--clr-light);
    text-align: center;
}

.experience-bubble-4 {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: var(--clr-accent);
    color: var(--clr-light);
    text-align: center;
}

.experience-bubble-5 {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: var(--clr-accent);
    color: var(--clr-light);
    text-align: center;
}


/* Education */

.my-education {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    text-align: center;
}


/* Footer */

.footer {
    background-color: var(--clr-dark);
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
    display: inline-block;
    margin: 2em 0;
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0;
    padding: 0;
}

.social-list__item {
    margin: 0.5em;
}

.social-list__link {
    padding: .5em;
}

.btn-footer {
    display: inline-block !important;
    margin: 2em 0;
    padding: .5em 2.5em;
    background: var(--clr-accent) !important;
    color: var(--clr-dark) !important;
    text-decoration: none !important;
    font-family: var(--ff-secondary) !important;
    cursor: pointer !important;
    font-size: .8rem !important;
    text-transform: uppercase !important;
    letter-spacing: 2px !important;
    font-weight: bold !important;
    transition: transform 200ms ease-in-out !important;
    border-radius: 16px !important;
}

.btn-footer:hover {
    transform: scale(1.1) !important;
}

.resume-download__link {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    padding: 0;
}

.resume-download__link:hover {
    opacity: .7;
}

.footer p {
    font-size: small;
}


/* Individual portfolio item styles */

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}