*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Custom Properties */

:root {
    --ff-primary: 'Be Vietnam Pro', sans-serif;
    --ff-secondary: 'Barlow Condensed', sans-serif;
    --fw-reg: 100;
    --fw-bold: 700;
    --clr-light: #ffffff;
    --clr-dark: #2e2e2e;
    --clr-accent: #D99B42;
    --clr-complementary: #D1D1A4;
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25), 0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
    --bs-light: 0.25em 0.25em 0.75em rgba(88, 88, 88, 0.25), 0.125em 0.125em 0.25em rgba(88, 88, 88, 0.15);
    --bs-hover: 0.5em 0.5em 1em rgba(0, 0, 0, .25), 0.25em 0.25em 0.5em rgba(0, 0, 0, .15);
    --level-one: translateZ(3rem);
    --level-two: translateZ(6rem);
    --level-three: translateZ(9rem);
}

@media (min-width: 800px) {
     :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}


/* General styles */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    text-align: left;
}

strong {
    font-weight: var(--fw-bold)
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}


/* Buttons */

.btn {
    display: flex;
    margin: 2em 0;
    padding: .5em 2.5em;
    height: 45px;
    width: 300px;
    background: transparent;
    color: var(--clr-light);
    text-decoration: none;
    text-align: center;
    justify-content: center;
    font-family: var(--ff-secondary);
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: bold;
    transition: transform 200ms ease-in-out;
    border: 2px solid var(--clr-accent);
}

.btn:hover {
    border: 2px solid var(--clr-accent);
    background: var(--clr-accent);
    color: var(--clr-light);
}

#btn-scroll-to-top {
    position: fixed;
    z-index: 100;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--clr-accent);
    box-shadow: var(--bs);
    color: #ffffff;
    border: none;
    cursor: pointer;
}

#btn-scroll-to-top:active {
    opacity: 0.7;
}

#btn-scroll-to-top:hover {
    opacity: 0.7;
}


/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2)
}

h3 {
    font-size: var(--fs-h3)
}

.section__title {
    margin-bottom: 1em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
    color: var(--clr-light);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
    text-transform: uppercase;
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    letter-spacing: .2rem;
    margin-bottom: 1em;
}

.section__subtitle--projects,
.section__subtitle--skills {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
    letter-spacing: .2rem;
}


/* header */

header {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
    padding: 1em;
    background-color: var(--clr-dark);
}

header::before {
    content: "";
    background-image: url(../images/intro-bg-georgie-cobbs.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}


/* .logo {
    max-width: 100px;
} */

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
    text-transform: capitalize;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}


/*  Intro section  */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
    border-radius: 50%;
}

.intro__img:hover {
    box-shadow: var(--bs-hover);
    border-radius: 50%;
}

.section__subtitle--intro {
    display: inline-block;
}

.pronouns {
    font-weight: var(--fw-bold);
    text-align: center;
    color: var(--clr-light);
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: "img title" "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}


/* about me */

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
    /* border-radius: 16px; */
}

.about-link {
    text-decoration: none;
    color: var(--clr-accent);
}

.about-link:hover {
    text-decoration: underline;
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: "title img" "subtitle img""text img";
        grid-column-gap: 2em;
    }
    .section__title--about {
        grid-area: title;
    }
    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}


/* Interests */

.my-interests {
    width: 100%;
    height: 100vh;
    background-color: var(--clr-light);
    color: var(--clr-accent);
    text-align: center;
}

.section__title--interests {
    color: var(--clr-dark);
    position: relative;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;
}

.card-flip {
    width: 375px;
    height: 500px;
}

.card-flip__content {
    text-align: center;
    position: relative;
    padding: 15em 5em;
    transition: transform 2s;
    transform-style: preserve-3d;
}

.card-flip:hover .card-flip__content {
    transform: rotateY(.5turn);
}

.card-flip__front,
.card-flip__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5em 3em;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: grid;
    align-content: center;
}

.card-flip__front {
    background-color: var(--clr-dark);
    background-size: cover;
    background-blend-mode: overlay;
    color: var(--clr-light);
    border-radius: 16px;
}

.card-flip__front-personal {
    background-image: url(../images/sebastian-ervi-uCZVEo8iT9Q-unsplash.jpg);
}

.card-flip__front-professional {
    background-image: url(../images/andrew-neel-cckf4TsHAuw-unsplash.jpg);
}

.card-flip__front-restaurant {
    background-image: url(../images/jae-park-Cq-6UiL_i-U-unsplash.jpg);
}

.card-flip__front::before {
    content: '';
    position: absolute;
    --spacer: 1em;
    top: var(--spacer);
    bottom: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);
    border: 2.5px solid currentColor;
    border-radius: 16px;
    transform: var(--level-one);
}

.card-flip__title {
    font-size: 2rem;
    transform: var(--level-three);
    order: 2;
    text-transform: uppercase;
}

.card-flip__subtitle {
    transform: var(--level-two);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 0.75rem;
    font-weight: var(--fw-bold);
    opacity: .7;
}

.card-flip__body {
    transform: var(--level-two);
    font-weight: var(fw-normal);
    font-size: 1rem;
    line-height: 1.6;
    list-style: none;
    text-align: left;
    text-decoration: none;
}

.card-flip__back {
    transform: rotateY(.5turn);
    color: var(--clr-light);
    background: var(--clr-dark);
    border-radius: 16px;
}


/* @media */


/* My Projects */

.my-projects {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
    height: 100vh;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
    background: var(--clr-dark);
    overflow: hidden;
}

.portfolio__img {
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1), opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img .hide {
    transform: scale(1.2);
    opacity: .2;
}

.hide {
    display: none;
}


/*  My skills section  */

.my-skills {
    display: grid;
    /* justify-content: center; */
    position: relative;
    /* height: 100vh; */
    width: 100%;
    background-color: var(--clr-light);
    color: var(--clr-accent);
    text-align: center;
}

.section__title--skills {
    color: var(--clr-accent);
    position: relative;
}

.skills {
    margin-bottom: 4em;
}

.skill {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .skills {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .skill+.skills {
        margin-left: 2em;
    }
}

.skills-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;
    justify-content: space-evenly;
}

.card-float {
    width: 300px;
    height: 400px;
    padding: 1em;
    margin: 1em;
    flex: 1;
    text-align: center;
    position: relative;
    background-color: var(--clr-accent);
    color: var(--clr-light);
    border-radius: 16px;
    box-shadow: var(--bs);
    /* opacity: .8; */
}

.card-float:hover {
    box-shadow: var(--bs-hover);
}

.card-float__title {
    font-family: var(--ff-secondary);
    text-transform: uppercase;
    letter-spacing: .2rem;
}


/* Strengths + Values */

.strengths-values {
    height: 100vh;
}

.strengths-values-container {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}

.section__title--strengths {
    text-align: center;
}

.strengths-values-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.strengths-card {
    width: 200px;
    height: 200px;
    background-color: var(--clr-light);
    border-radius: 16px;
    box-shadow: var(--bs);
    text-align: center;
    padding: 1em;
}

.strengths-card:hover {
    box-shadow: var(--bs-hover);
}

.strengths-item {
    padding-top: .5em;
}


/* Experience */

.my-experience {
    position: relative;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    height: 100vh;
    width: 100%;
}

.my-experience::before {
    content: "";
    background-image: url(../images/skills-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}

.section__title--experience {
    text-align: center;
    color: var(--clr-light);
    position: relative;
}


/* JS bar graph */

.wrap {
    width: 50%;
    margin: 0 auto;
    vertical-align: baseline;
}

.bar {
    background: var(--clr-accent);
    width: 0;
    margin: .5em 0;
    color: var(--clr-light);
    position: relative;
    transition: width 2s, background .2s;
    clear: both;
    box-shadow: var(--bs);
}

.bar .label {
    font-size: .753m;
    padding: 1em;
    background: var(--clr-dark);
    width: 15em;
    display: inline-block;
    position: relative;
    z-index: 2;
    font-weight: bold;
}

.count {
    position: absolute;
    right: .2em;
    padding: 1em;
    font-size: .753m;
    font-weight: bold;
}


/* Bar Graph Horizontal */


/* .bar-graph .experience-description {
    -webkit-animation: fade-in-text 2.2s 0.1s forwards;
    -moz-animation: fade-in-text 2.2s 0.1s forwards;
    animation: fade-in-text 2.2s 0.1s forwards;
    opacity: 0;
}

.bar-graph-horizontal {
    max-width: 600px;
}

.bar-graph-horizontal>div {
    float: left;
    margin-bottom: 8px;
    width: 100%;
}

.bar-graph-horizontal .experience-description {
    float: left;
    margin-top: 18px;
    width: 300px;
}

.bar-graph-horizontal .bar {
    border-radius: 3px;
    height: 55px;
    float: left;
    overflow: hidden;
    position: relative;
    width: 0;
}

.bar-graph-one .bar::after {
    -webkit-animation: fade-in-text 2.2s 0.1s forwards;
    -moz-animation: fade-in-text 2.2s 0.1s forwards;
    animation: fade-in-text 2.2s 0.1s forwards;
    color: var(--clr-light);
    content: attr(data-percentage);
    font-weight: var(--fw-bold);
    position: absolute;
    right: 16px;
    top: 17px;
}

.bar-graph-one .bar-one .bar {
    background-color: var(--clr-accent);
    -webkit-animation: show-bar-one 1.2s 0.1s forwards;
    -moz-animation: show-bar-one 1.2s 0.1s forwards;
    animation: show-bar-one 1.2s 0.1s forwards;
}

.bar-graph-one .bar-two .bar {
    background-color: var(--clr-accent);
    -webkit-animation: show-bar-two 1.2s 0.2s forwards;
    -moz-animation: show-bar-two 1.2s 0.2s forwards;
    animation: show-bar-two 1.2s 0.2s forwards;
}

.bar-graph-one .bar-three .bar {
    background-color: var(--clr-accent);
    -webkit-animation: show-bar-three 1.2s 0.3s forwards;
    -moz-animation: show-bar-three 1.2s 0.3s forwards;
    animation: show-bar-three 1.2s 0.3s forwards;
}

.bar-graph-one .bar-four .bar {
    background-color: var(--clr-accent);
    -webkit-animation: show-bar-four 1.2s 0.4s forwards;
    -moz-animation: show-bar-four 1.2s 0.4s forwards;
    animation: show-bar-four 1.2s 0.4s forwards;
}

.bar-graph-one .bar-five .bar {
    background-color: var(--clr-accent);
    -webkit-animation: show-bar-five 1.2s 0.5s forwards;
    -moz-animation: show-bar-five 1.2s 0.5s forwards;
    animation: show-bar-five 1.2s 0.5s forwards;
}

.bar-graph-one .bar-six .bar {
    background-color: var(--clr-accent);
    -webkit-animation: show-bar-six 1.2s 0.6s forwards;
    -moz-animation: show-bar-six 1.2s 0.6s forwards;
    animation: show-bar-six 1.2s 0.6s forwards;
}

.bar-graph-one .bar-seven .bar {
    background-color: var(--clr-accent);
    -webkit-animation: show-bar-seven 1.2s 0.7s forwards;
    -moz-animation: show-bar-seven 1.2s 0.7s forwards;
    animation: show-bar-seven 1.2s 0.7s forwards;
} */


/* Bar Graph Horizontal Animations */


/* @keyframes show-bar-one {
    0% {
        width: 0;
    }
    100% {
        width: 20%;
    }
}

@keyframes show-bar-two {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}

@keyframes show-bar-three {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes show-bar-four {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes show-bar-five {
    0% {
        width: 0;
    }
    100% {
        width: 60%;
    }
}

@keyframes show-bar-six {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}

@keyframes show-bar-seven {
    0% {
        width: 0;
    }
    100% {
        width: 60%;
    }
}

@keyframes fade-in-text {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} */


/* Education */

.my-education {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    text-align: center;
    height: 100vh;
}

.h2-education,
.h3-education,
.h4-education {
    padding-top: .25em;
    padding-bottom: .25em;
}


/* Footer */

.footer {
    background-color: var(--clr-dark);
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
    height: 100vh;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
    display: inline-block;
    margin: 2em 0;
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0;
    padding: 0;
}

.social-list__item {
    margin: 0.5em;
}

.social-list__link {
    padding: .5em;
}

.btn-footer {
    display: inline-block;
    margin: 2em 0;
    padding: .5em 2.5em;
    height: 45px;
    width: 300px;
    background: transparent;
    color: var(--clr-dark);
    text-decoration: none;
    text-align: center;
    justify-content: center;
    font-family: var(--ff-secondary);
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: bold;
    transition: transform 200ms ease-in-out;
    border: 2px solid var(--clr-accent);
}

.btn-footer:hover {
    border: 2px solid var(--clr-accent);
    background: var(--clr-accent);
    color: var(--clr-light);
}

.resume-download__link {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    padding: 0;
}

.resume-download__link:hover {
    opacity: .7;
}

.copyright {
    font-size: small;
    margin-top: 300px;
    margin-bottom: 1em;
    /* position: fixed;
    bottom: 0; */
    /* margin: auto; */
}


/* Individual portfolio item styles */

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}